<div class='sep-order-product-item' data-line-id="{{line_id}}" data-product-sku="{{sku}}">
    <div class="quantity">
        <span class="current-quantity">0</span>/<span class="total-quantity">{{quantity}}</span>
    </div>
    <div class="product-name">
        <div>{{name}}</div>
        <div>{{product_meta}}</div>
    </div>
    <div class="product-actions">
        <button class="modify-product-quantity double-icons" data-line-id="{{line_id}}" data-action="increase">
            <i class="fa-solid fa-arrow-down"></i>
            <i class="fa-solid fa-box-open"></i>
        </button>
        <button class="modify-product-quantity double-icons" data-line-id="{{line_id}}" data-action="decrease">
            <i class="fa-solid fa-arrow-up"></i>
            <i class="fa-solid fa-box-open"></i>
        </button>
    </div>
</div>
